.cards {
  background: $light-color;
  text-align: center;
  // HEADING
  &-heading {
    span {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  // CARD ROWS
  &-row {
    @include set-display(row, space-evenly, center, nowrap);

    .card-col {
      box-shadow: 0 0 1.5rem 0 lighten($secondary-color, 30%);
      // flex-basis: 18em;
      border-radius: 18px;
      padding: 1.5rem;
      margin: 1.5rem;
      .doc_img {
        width: 180px;
        height: 12rem;
      }
      .doc-intro {
        padding: 1rem;
      }
      .social {
        font-size: 1.5rem;
        &_links {
          margin: 0.5rem;
          color: $secondary-color;
        }
        &_links:hover {
          color: $primary-color;
        }
      }
    }
  }
}
