// Flexbox.
@mixin set-display($direction, $content, $items, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}