.contact {
    &-heading {
        text-align: center;
        text-decoration: $primary-color underline;
    }
    &-content {
        @include set-display(row, space-evenly, center, nowrap);
    }
    img {
        width: 520px;
    }
}