.header {
  background: $light-color;
  .navbar {
    @include set-display(row, space-between, center, nowrap);
    // MAIN LOGO
    &-logo {
      font-family: $main_font;
      color: $secondary-color;
    }
    // NAVBAR ITEMS
    ul {
      @include set-display(row, space-between, center, nowrap);
      li {
        padding: 0.5rem;
        a {
          color: $dark-color;
          &:hover {
            color: $primary-color;
            transition: all ease-in 0.2s;
          }
        }
      }
    }
  }
}
