// Paddings.
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

// Margins.
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}

// Text Sizes
.x-large {
    font-size: 2.5rem;
}

.large {
    font-size: 2rem;
}

.md {
    font-size: 1.5rem;
}

.sm {
    font-size: 1rem;
}