@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300&display=swap');

$main_font: 'Orbitron', sans-serif; 
$font_stack: 'Bricolage Grotesque', sans-serif;
$secondary-color: #575a89;
$primary-color: #514abf;
$light-color: #f0f0ff;
$dark-color: #000000; 