@import "variables.scss";
@import "utilities.scss";
@import "config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: $font_stack;
  line-height: 1.5;
  font-size: 18px;
}
img {
  max-width: 100%;
}

// SHOWCASE STYLE
.showcase{
  &-display {
      @include set-display(row, space-between, center, nowrap);
      gap: 1em;
  }
}

// APPOINTMENT SECTION STYLE.
.appointment-bg {
  box-shadow: 0 0 1.5rem 0.5rem lighten($secondary-color, 30%);
  border-radius: 18px;
  padding: 2rem;
  h2 {
    text-align: center;
  }
}

@import "navbar.scss";
@import "card.scss";
@import "form.scss";
@import "about.scss";
@import "contact.scss";
@import "footer.scss";
@import "responsive.scss";